<html>
    <head>
        <title>student login</title>
    </head>
    <body style="background-color: peru;">
        <form method = "post" action = "/student">
        <table>
            <tr> <td>Mail</td> <td><input type="text" name="mail"></td></tr>
            <tr> <td>Password</td> <td><input type="password" name="pas" id=""></td></tr>
            <tr> <td> </td> <td><input type = "submit" value = "Login"></td></tr>  
        </table>
        <br>
        <a href="/add account">Join Class</a>
        </form>
    </body>
</html>