<html>
    <head>
        <title>
            Question
        </title>
    </head>
    <body>
        <form method = "post" action = "/add">
            <input type="text" name="qn" id="" value="{{qn}}" style="width: 6%;"> <hr  style="color: silver;">
            <br> <textarea name="quest" id="" cols="50" rows="10" placeholder="Post Question Here"></textarea><hr>
        <table>
            <tr>
                <td>A. <input type="text" name="op1" placeholder="Option 1"></td>
                <td>B. <input type="text" name="op2" placeholder="Option 2"></td>
            </tr>
            <tr>
                <td>C. <input type="text" name="op3" placeholder="Option 3"></td>
                <td>D. <input type="text" name="ans" placeholder="Answer"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="submit" name="" id="" value="Insert"></td>
                <td><a href="/" style="text-align: left; text-decoration: none; color: red; border-style: double; border-color: royalblue;">Close</a></td>
            </tr>
        </table>
        </form>
    </body>
</html>