<html>  
<head>  
    <title>Update product</title>  
</head>  
<body>  
    
  
    <form method = "post" action = "/update">  
        <table>  
            <tr><td>Serial_no</td><td><input type = 'number' name = 'serial' value="{{sn}}"></td></tr>  
            <tr><td>Product type</td><td><input type = 'text' name = 'product' value="{{pt}}"></td></tr>
            <tr><td>Brand</td><td><input type = 'text' name = 'brand' value="{{br}}"></td></tr>  
            <tr><td>Model</td><td><input type = 'text' name = 'model' value="{{mdl}}"></td></tr>    
            <tr><td>Price</td><td><input type = 'text' name = 'price' value="{{prc}}"></td></tr>
            <tr><td>Weight</td><td><input type = 'text' name = 'weight' value="{{wt}}"></td></tr>
            <tr><td>Stocks</td><td><input type = 'number' name = 'stocks' value="{{st}}"></td></tr>
            <tr><td><input type = "submit" value = "Submit"></td></tr>  
        </table>  
    </form>  
</body>  
</html>  
